################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
/Himzo.Web/wwwroot/node_modules
/Himzo.Web/wwwroot/src/node_modules/.cache/vue-loader
/Himzo.Web/wwwroot/dist/js
