################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
/Himzo.Web/wwwroot/node_modules
